body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}



h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0 0 10px;
}

/*HEADER*/

.header{
    height: 180px;
    background: #f2f2f2;
    box-sizing: border-box;

}

.header_inner{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 16px;
    align-items: center;
}

.header_logo img{
    height: 56.08px;
    width: 246px;
}

/*CONTACTS*/
.contacts{
    text-align: right;
}

.tel{
    font-weight: 400;
    font-size: 21px;
    color: #000;
    text-decoration: none;
    text-align: center;
    transition: .5s;
}

.tel span{
    font-size: .8em;
}

.tel:hover{
    color: #34B1DA;
    outline: none;
}

.mail{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    transition: .5s;
}

.mail:hover{
    color: #34B1DA;
    outline: none;
}

/*NAVBAR*/

.navbar{
    background: #464646;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    list-style-type: none;
    margin:auto;
    display: flex; /* сделали блок гибким */
    justify-content: space-between; /* расставили элементы по краям */
    align-items: center;
}

.navbar_menu{
    margin: 0; /* отключаем внешние отступы */
    padding: 0;/* отключаем внутринние отступы */
    list-style: none; /* Отключаем точки у списка */
    display: flex;
    text-align: center;
}

.navbar_items{
    display: list-item;
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: 100px;
}



.navbar_link{
    text-decoration: none;
    color: #fff;
    padding: 0 37px;
    line-height: 60px;
    font-size: 17px;
    letter-spacing: -1px;
    text-align: center;
    transition: .5s;
}

a:visited{
    color: #fff;
}

.navbar_link:hover{
    color:#34B1DA;
}

/*SHADOW_CITY*/
.shadow_city{
    margin-top: 50px;
    height: 100px;
    background: url(../img/siluet.jpg) 0 100% repeat-x;
    background-size: 700px;
}

/*FOOTER*/

.footer{
    border-top: 5px solid #34B1DA;
    padding: 20 px 0 20 px;
    text-align: center;
    background: #464646;
}

.main{
    clear: both;
    /* overflow: hidden; */
    box-sizing: border-box;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10 px;
}

.custom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.custom div{
    flex-basis: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.footer_title{
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 19px;
    font-weight: 500;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff;
}

.footer_tel{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}

.footer_mail{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px
}

.footer_tel:hover{
    color: #fff;
}

.footer_mail:hover{
    color: #fff;
}

/*.open_modal_2{
    display: block;
    font-weight: 800;
    border: 1 px solid #fff;
    line-height: 50px;
    text-transform: uppercase;
    transition: .5s;
    cursor: pointer;
}

.open_modal_2:hover{
    background: #34B1DA;
    color: #fff;
    border-color: #34B1DA;
}*/

.footer_logo{
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.footer_text_p{
    color:#fff;
}

.btnn{
    display: block;
    font-weight: 700;
    border: 1px solid #fff;
    line-height: 50px;
    text-transform: uppercase;
    transition: .5s;
    cursor: pointer;
    background: none;
    color: #fff;
    width: 100%;
}

.btnn:hover{
    background: #34B1DA;
    color: #fff;
    border-color: #34B1DA;
}

/*ARTICLE DEVICE*/


.device{
    height: 750px;
    width: 1299px;
    background-size: cover;
}


.img{
    height: 750px;
    width: 1299px;
}


#first{
    opacity: 1;
    margin: auto;
    position: absolute;
}
 
#second{
    opacity: 0;
    margin: auto;
    
    position: absolute;
}

#third{
    opacity: 0;
    margin: auto;
    position: absolute;
}

#fourth{
    opacity: 0;
    margin: auto;
    position: absolute;
}

#fifth{
    opacity: 0;
    margin: auto;
    position: absolute;
}

#sixth{
    opacity: 0;
    margin: auto;
    position: absolute;
}

#seventh{
    opacity: 0;
    margin: auto;
    position: absolute;
}

#eighth{
    opacity: 0;
    margin: auto;
    position: absolute;
}

#ninth{
    opacity: 0;
    margin: auto;
    position: absolute;
}

#tenth{
    opacity: 0;
    margin: auto;
    position: absolute;
}

@media (max-width:1400px) {
    .device{
        width: 1199px;
    }
    .img{
        width: 1199px;
        
    }
    .navbar_items{
        margin-left: 70px;
    }
    
}

@media (max-width:1200px) {
    .device{
        width: 1099px;
    }
    .img{
        width: 1099px;       
    }
    .navbar_items{
        margin-left: 40px;
    }
    
}

@media (max-width:992px) {
    .device{
        width: 900px;
    }
    .img{
        width: 900px;
    }
    .container{

    }
}

@media (max-width:768px) {
    .device{
        width: 680px;
    }
    .img{
        width: 620px;
    }
}

/*LIST*/

.list_item{
    font-size: 25px;
}